*{
	margin: 0;
	padding: 0;	
}
body{
	background: #EFF1E6;
}


  .modal1{
  width: 35% !important;
  height: 40% !important;
  
}
@media screen and (min-width: 1000px){
.areaPrincipal{
    margin-top: 20px;
    margin-left: 170px;
}  

}
    
   


    @media only screen and (max-width : 800px) {
      header, main, footer {
        margin-left: 0px;
        padding-left:0px;;        
      }
     .areaPrincipal{
	margin-top: 0px;	
	margin-right: 5px;

        }
        .sidenav{
            width: 20%;
            
        }
        .modal1{
             width: 80% !important;
            height: 50% !important;   
        }
        .modal{
            width: 90%;
        }
        
      
        
    }

.nav-wrapper{
	background-color: #42B552;	
}

.nav-wrapper ul{
    margin-right: 5px;
    margin-bottom: 0px;
}

.sidenav{
	margin-top: 65px;
	width: 170px;
}    
.brand-logo{
	margin-left: 15px;
}

.col{
	margin-left: 24%; 
}

.input-field label {
     
	font-family: 'Roboto', sans-serif;
      font-size: 20px;
   }

.btn-large{ 
  background-color: #42B552;

  margin-top: 5px;
}

.btn-small{
background-color: #42B552;
 margin-left: 24%; 
 margin-top: 5px;
      
}

.botonera li{
    display: inline-block;  
} 




.publicidades{

	background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.7));
}

.carousel a img{
	padding: 15px;
	height: 400px;
}




.productos{
    margin-bottom: 50px
}
.exhibidor{      
    margin-right: 5%;
    height:  310px;
    background-color: rgba(0,0,0,0.15);
}

.imagen-container{
    padding: 5px;
    margin: 5% 3%;
    width:94%;
}

.botonera-productos{
    margin-left: 15%; 
    margin-bottom: 10px;
}

.texto-productos{
    margin: 5% 3%;
}

.lista-exhibidor{
    margin-left: 30px;
    
}

.lista-exhibidor li{   
    
}

.row{
    margin-left: 12.5%;
}

.relleno{
    background: rgba(0,0,0,0.09)
}




.card-title{
  color:red !important;
}